.header-simple {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to bottom, #a0ceff, white);
  color: #007bff;
}

.logo-header {
  height: 50px;
  margin-right: 10px;
}

.nombre-header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
